<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.CommonMapper">
    <resultMap id="option" type="com.situation.analysis.model.Option">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
    </resultMap>

    <resultMap id="objectInfo" type="com.situation.analysis.model.ObjectInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="objectName"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
    </resultMap>

</mapper>