<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.IndicatorMapper">
    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.IndicatorEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="INSTRUCTION" property="instruction"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="O_ID" property="objectId"/>
    </resultMap>


    <resultMap id="response" type="com.situation.analysis.model.IndicatorResponse">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="INSTRUCTION" property="instruction"/>
        <result column="IS_ORIGINAL_VALUE" property="isOriginalValue"/>
        <result column="OBJECT_NAME" property="objectName"/>
    </resultMap>


    <resultMap id="indicatorInfo" type="com.situation.analysis.model.IndicatorInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
    </resultMap>

    <select id="getIndicatorList" resultMap="BaseResultMap">
        select * from indicator;
    </select>

    <select id="selectIndicatorList" resultMap="response" parameterType="string">
        select i.id,i.name,i.instruction,i.IS_ORIGINAL_VALUE,o.name OBJECT_NAME
        from indicator i left join monitoringObject o on i.O_ID = o.ID
        <where>
            <if test="null != keyWord">
                i.name like CONCAT('%',#{keyWord},'%')
            </if>
        </where>
    </select>

    <update id="batchUpdateIndicator" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update indicator
            <set>
                <if test="null != item.impactFactor">
                    IMPACT_FACTOR=${item.impactFactor},
                </if>
                <if test="null != item.objectId">
                    O_ID=${item.objectId}
                </if>
            </set>
            where id = ${item.id}
        </foreach>
    </update>

    <update id="unbindObjectWithIndicator" parameterType="java.lang.Integer">
        update indicator set O_ID =null where O_ID = #{oId};
    </update>

    <insert id="addIndicator" parameterType="IndicatorEntity">
        insert into indicator(NAME,IMPACT_FACTOR,O_ID,INSTRUCTION,IS_ORIGINAL_VALUE) values(#{name},#{impactFactor},#{objectId},#{instruction},#{isOriginalValue});
    </insert>

    <delete id="deleteIndicator" parameterType="int">
        delete from indicator where id = #{id} and IS_ORIGINAL_VALUE = 'N';
    </delete>

    <select id="getIndicatorOptionList" resultMap="com.situation.analysis.mapper.CommonMapper.option">
        select id, name from indicator
        <where>
            <if test="oId != null">
                and O_ID = #{oId}
            </if>
            or O_ID is null
        </where>
    </select>


    <select id="getIndicatorBindObject" resultMap="indicatorInfo">
        select * from indicator where O_ID = #{oId};
    </select>


</mapper>