<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.RecordMapper">

    <insert id="addIndicatorRecord4ObjectA" parameterType="IndicatorEntity4ObjectA">
        insert into indicatorOfVideo(DIAGTIME,CODE,NAME,ONLINE_RATE_A11,CONNECT_RATE_A12,DELAY_RATE_A13,EXCEPTION_A14)
        values(#{diagTime}, #{code}, #{name},#{onlineRatingA11},#{connectRatingA12},#{delayRatingA13},#{exceptionRatingA14});
    </insert>

    <insert id="addRecord4ObjectA" parameterType="ObjectEntity4Record">
        insert into video(DIAGTIME,CODE,NAME,VIDEO_A1)
        values(#{diagTime}, #{code}, #{name},#{healthRating});
    </insert>


</mapper>