<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.RecordMapper">

    <insert id="addIndicatorRecord4ObjectA" parameterType="IndicatorEntity4ObjectA">
        insert into indicatorOfVideo(DIAGTIME,CODE,NAME,ONLINE_RATE_A11,CONNECT_RATE_A12,DELAY_RATE_A13,EXCEPTION_A14)
        values(#{diagTime}, #{code}, #{name},#{onlineRatingA11},#{connectRatingA12},#{delayRatingA13},#{exceptionRatingA14});
    </insert>

    <insert id="addRecord4Object" parameterType="ObjectEntity4Record">
        insert into objectRecord(DIAGTIME,CODE,NAME,O_ID,HEALTH_RATING)
        values(#{diagTime}, #{code}, #{name},#{oId},#{healthRating});
    </insert>

    <insert id="addIndicatorRecord4ObjectA2" parameterType="IndicatorEntity4ObjectA2">
        insert into indicatorOfImage(DIAGTIME,CODE,NAME,ONLINE_A21,RATE_OF_REACH_A22,EXCEPTION_A23)
        values(#{diagTime}, #{code}, #{name},#{onlineA21},#{completedA22},#{exceptionA23});
    </insert>

<!--    <insert id="addRecord4ObjectA2" parameterType="ObjectEntity4Record">-->
<!--        insert into image(DIAGTIME,CODE,NAME,IMAGE_A2)-->
<!--        values(#{diagTime}, #{code}, #{name},#{healthRating});-->
<!--    </insert>-->


    <insert id="addIndicatorRecord4ObjectC1" parameterType="IndicatorEntity4ObjectC1">
        insert into indicatorRealTimeVideo(DIAGTIME,CODE,NAME,VIDEO_INTENSITY_RATE_C11,ANNOTATION_INTENSITY_RATE_C12)
        values(#{diagTime}, #{code}, #{name},#{videoRatingC11},#{annotationRatingC12});
    </insert>

<!--    <insert id="addRecord4ObjectC1" parameterType="ObjectEntity4Record">-->
<!--        insert into realTimeVideo(DIAGTIME,CODE,NAME,ONLINE_VIDEO_QUANTITY_C1)-->
<!--        values(#{diagTime}, #{code}, #{name},#{healthRating});-->
<!--    </insert>-->


    <insert id="addIndicatorRecord4ObjectC2" parameterType="IndicatorEntity4ObjectC2">
        insert into IndicatorOfHistoryVideo(DIAGTIME,CODE,NAME,VIDEO_INTENSITY_RATE_C21,VIDEO_WHOLE_RATE_C22,ANNOTATION_RATE_C23)
        values(#{diagTime}, #{code}, #{name},#{videoRatingC21},#{completeRatingC22},#{annotationRatingC23});
    </insert>

<!--    <insert id="addRecord4ObjectC2" parameterType="ObjectEntity4Record">-->
<!--        insert into historyVideo(DIAGTIME,CODE,NAME,HISTORY_VIDEO_QUANTITY_C2)-->
<!--        values(#{diagTime}, #{code}, #{name},#{healthRating});-->
<!--    </insert>-->

    <insert id="addIndicatorRecord4ObjectC3" parameterType="IndicatorEntity4ObjectC3">
        insert into indicatorOfImageQuantity(DIAGTIME,CODE,NAME,IMAGE_C31,IAMGE_C32,IMAGE_C33,IMAGE_C34)
        values(#{diagTime}, #{code}, #{name},#{imageCompletedRatingC31},#{imageAlignRatingC32},#{stableRatingC33},#{standardRatingC34});
    </insert>

<!--    <insert id="addRecord4ObjectC3" parameterType="ObjectEntity4Record">-->
<!--        insert into imageQuantity(DIAGTIME,CODE,NAME,IAMGE_QUANTITY_C3)-->
<!--        values(#{diagTime}, #{code}, #{name},#{healthRating});-->
<!--    </insert>-->

    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.ObjectEntity4Record">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="HEALTH_RATING" property="healthRating"/>
    </resultMap>

    <select id="getObjectValue" parameterType="int" resultMap="BaseResultMap">
        select ID, HEALTH_RATING from objectRecord where O_ID = #{oId} order by id desc limit 1;
    </select>

    <insert id="addRecord4Level" parameterType="LevelRecordEntity">
        insert into level(DIAGTIME,CODE,NAME,L_ID,HEALTH_RATING)
        values(#{diagTime}, #{code}, #{name},#{lId},#{healthRating});
    </insert>


</mapper>