<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.SupportThirdMapper">



    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.HolographicRecordEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="HEALTH_RATING" property="healthRating"/>
    </resultMap>

    <resultMap id="IndicatorC1" type="com.situation.analysis.entity.IndicatorEntity4ObjectC1">
        <result column="VIDEO_INTENSITY_RATE_C11" property="videoRatingC11"/>
        <result column="ANNOTATION_INTENSITY_RATE_C12" property="annotationRatingC12"/>
    </resultMap>

    <resultMap id="IndicatorC2" type="com.situation.analysis.entity.IndicatorEntity4ObjectC2">
        <result column="VIDEO_INTENSITY_RATE_C21" property="videoRatingC21"/>
        <result column="VIDEO_WHOLE_RATE_C22" property="completeRatingC22"/>
        <result column="ANNOTATION_RATE_C23" property="annotationRatingC23"/>
    </resultMap>

    <select id="getHolographic" parameterType="string" resultMap="BaseResultMap">
        select ID, HEALTH_RATING from holographic where code = #{code} order by id desc limit 1;
    </select>

    <select id="getIndicatorRecord4ObjectC1" parameterType="string" resultMap="IndicatorC1">
        select VIDEO_INTENSITY_RATE_C11,ANNOTATION_INTENSITY_RATE_C12 from indicatorRealTimeVideo where code = #{code} order by id desc limit 1;
    </select>

    <select id="getIndicatorRecord4ObjectC2" parameterType="string" resultMap="IndicatorC2">
        select VIDEO_INTENSITY_RATE_C21,VIDEO_WHOLE_RATE_C22,ANNOTATION_RATE_C23 from IndicatorOfHistoryVideo where code = #{code} order by id desc limit 1;
    </select>



</mapper>
