<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.SupportThirdMapper">



    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.Entity4Record">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="HEALTH_RATING" property="healthRating"/>
    </resultMap>

    <resultMap id="IndicatorC1" type="com.situation.analysis.entity.IndicatorEntity4ObjectC1">
        <result column="VIDEO_INTENSITY_RATE_C11" property="videoRatingC11"/>
        <result column="ANNOTATION_INTENSITY_RATE_C12" property="annotationRatingC12"/>
    </resultMap>

    <resultMap id="IndicatorC2" type="com.situation.analysis.entity.IndicatorEntity4ObjectC2">
        <result column="VIDEO_INTENSITY_RATE_C21" property="videoRatingC21"/>
        <result column="VIDEO_WHOLE_RATE_C22" property="completeRatingC22"/>
        <result column="ANNOTATION_RATE_C23" property="annotationRatingC23"/>
    </resultMap>

    <resultMap id="HolographicRecordEntity" type="com.situation.analysis.entity.HolographicRecordEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="HEALTH_RATING" property="healthRating"/>
    </resultMap>

    <resultMap id="IndicatorEntity4ObjectD1" type="com.situation.analysis.entity.IndicatorEntity4ObjectD1">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="CODE" property="code"/>
        <result column="SERVICE_D11" property="serviceConnectedRatingD11"/>
        <result column="SERVICE_D12" property="serviceCompletedRatingD12"/>
        <result column="SERVICE_D13" property="serviceUsingRatingD13"/>
        <result column="SERVICE_D14" property="serviceDelayRatingD14"/>
    </resultMap>


    <select id="getHolographic" parameterType="string" resultMap="BaseResultMap">
        select ID, HEALTH_RATING from holographic where code = #{code} order by id desc limit 1;
    </select>

    <select id="getIndicatorRecord4ObjectC1" parameterType="string" resultMap="IndicatorC1">
        select VIDEO_INTENSITY_RATE_C11,ANNOTATION_INTENSITY_RATE_C12 from indicatorRealTimeVideo where code = #{code} order by id desc limit 1;
    </select>

    <select id="getIndicatorRecord4ObjectC2" parameterType="string" resultMap="IndicatorC2">
        select VIDEO_INTENSITY_RATE_C21,VIDEO_WHOLE_RATE_C22,ANNOTATION_RATE_C23 from IndicatorOfHistoryVideo where code = #{code} order by id desc limit 1;
    </select>

    <select id="getObject" resultMap="BaseResultMap">
        select HEALTH_RATING from objectRecord o,monitoringObject mo where mo.NAME = #{object_name} and mo.ID = o.O_ID and o.code = #{code} order by o.id desc limit 1;
    </select>

    <select id="getBusinessRecord" resultMap="BaseResultMap">
        select HEALTH_RATING from business b,businessSystem bs where bs.NAME = #{business_name} and bs.ID = b.B_ID and b.code = #{code} order by b.id desc limit 1;
    </select>

    <select id="selectHealthByCode" parameterType="com.situation.analysis.entity.secondary.ThirdResultEntity" resultMap="HolographicRecordEntity">
        set sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';
        set global sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION';
        set session sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION';
        set @@sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION';

        select code, HEALTH_RATING, name  from holographic h, (select max(id) id from holographic where code in
        <foreach collection="list" item="record" open="(" separator=","  close=")">
            #{record.areaId}
        </foreach>
        group by code) hc where hc.id =h.id;
    </select>


    <select id="getServerResource" parameterType="string" resultMap="IndicatorEntity4ObjectD1">
        select CODE,NAME,SERVICE_D11,SERVICE_D12,SERVICE_D13,SERVICE_D14 from indicatorOfService where code = #{code} order by id desc limit 1;
    </select>






</mapper>
