<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.primary.UserMapper">
    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
    </resultMap>

    <insert id="addUser" parameterType="com.situation.analysis.entity.UserEntity">
        insert into user(username,password,salt) values(#{username}, #{password}, #{salt});
    </insert>

    <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from user where username = #{username};
    </select>

</mapper>