<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.secondary.ReferenceDataMapper">

    <resultMap id="response" type="ResultEntity">
        <result column="totalRecords" property="totalRecords"/>
        <result column="successRecords" property="successRecords"/>
        <result column="failRecords" property="failRecords"/>
        <result column="offlineDuration" property="offlineDuration"/>
    </resultMap>

    <select id="checkTaskResultRecord4A11" resultMap="response">
        select sum(offlineduration) offlineDuration, count(*) totalRecords from rm_outdeviceinfo;
    </select>

    <select id="checkTaskResultRecord4A12" parameterType="int" resultMap="response">
        select count(*) totalRecords, count(if(errcode = 200,true,null)) successRecords from rm_task_result where taskno = #{taskNum};
    </select>


    <select id="checkTaskResultRecord4A13" parameterType="int" resultMap="response">
        select count(*) totalRecords, count(if(errcode in(904,905,907),true,null)) failRecords from rm_task_result where taskno = #{taskNum};
    </select>

    <select id="checkTaskResultRecord4A14" resultMap="response">
        select count(*) totalRecords, count(if(status = 0 ,true,null)) failRecords from rm_outdeviceinfo;
    </select>

    <select id="getTaskIds" parameterType="int" resultType="object">
        select taskId from rm_task where tasktype = #{taskType};
    </select>

    <select id="checkTaskResultRecord4C" resultMap="response">
        select count(*) totalRecords from rm_task_result where
        <choose>
            <when test="taskIds != null and taskIds.size > 0">
                taskid IN
                <foreach collection="list" item="taskId" index="index"
                         open="(" close=")" separator=",">
                    #{taskId}
                </foreach>;
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>

    <select id="getVqdresList" resultType="string">
        select vqdres from rm_task_result where
        <choose>
            <when test="taskIds != null and taskIds.size > 0">
                taskid IN
                <foreach collection="list" item="taskId" index="index"
                         open="(" close=")" separator=",">
                    #{taskId}
                </foreach>;
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>

    <select id="checkTaskResultRecord4C12" resultMap="response">
        select count(*) totalRecords, count(if(status = 1 ,true,null)) successRecords from rm_diag_osd where
        <choose>
            <when test="taskIds != null and taskIds.size > 0">
                taskid IN
                <foreach collection="list" item="taskId" index="index"
                         open="(" close=")" separator=",">
                    #{taskId}
                </foreach>;
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>


    <select id="checkTaskResultRecord4C22" resultMap="response">
        select count(*) totalRecords, count(if(status = 1 ,true,null)) successRecords from rm_videofull_diag_result where
        <choose>
            <when test="taskIds != null and taskIds.size > 0">
                taskid IN
                <foreach collection="list" item="taskId" index="index"
                         open="(" close=")" separator=",">
                    #{taskId}
                </foreach>;
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>


    <select id="checkTaskResultRecord4C23" resultMap="response">
        select count(*) totalRecords, count(if(status = 1 ,true,null)) successRecords from rm_diag_osd where
        <choose>
            <when test="taskIds != null and taskIds.size > 0">
                taskid IN
                <foreach collection="list" item="taskId" index="index"
                         open="(" close=")" separator=",">
                    #{taskId}
                </foreach>;
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>

    <select id="checkTaskResultRecord4A21" resultMap="response">
        select sum(offlineduration) offlineDuration, count(*) totalRecords from rm_apeinfo;
    </select>

    <select id="checkTaskResultRecord4A22" resultMap="response">
        select count(*) totalRecords, count(if(imagenum > imagestandnum ,true,null)) successRecords from rm_stk_structured_data;
    </select>

    <select id="checkTaskResultRecord4A23" resultMap="response">
        select count(*) totalRecords, count(if(isonline = 0 ,true,null)) failRecords from rm_apeinfo;
    </select>


</mapper>