<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.secondary.ReferenceDataMapper">

    <resultMap id="response" type="ResultEntity">
        <result column="totalRecords" property="totalRecords"/>
        <result column="successRecords" property="successRecords"/>
        <result column="failRecords" property="failRecords"/>
        <result column="offlineDuration" property="offlineDuration"/>
    </resultMap>

    <select id="checkTaskResultRecord4A11" resultMap="response">
        select sum(offlineduration) offlineDuration, count(*) totalRecords from rm_outdeviceinfo;
    </select>

    <select id="checkTaskResultRecord4A12" parameterType="int" resultMap="response">
        select count(*) totalRecords, count(if(errcode = 200,true,null)) successRecords from rm_task_result where taskno = #{taskNum};
    </select>


    <select id="checkTaskResultRecord4A13" parameterType="int" resultMap="response">
        select count(*) totalRecords, count(if(errcode in(904,905,907),true,null)) failRecords from rm_task_result where taskno = #{taskNum};
    </select>

    <select id="checkTaskResultRecord4A14" resultMap="response">
        select count(*) totalRecords, count(if(status = 0 ,true,null)) failRecords from rm_outdeviceinfo;
    </select>



</mapper>