<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.BusinessMapper">

    <insert id="addNewBusiness" parameterType="BusinessEntity" useGeneratedKeys="true" keyProperty="id">
        insert into businessSystem(NAME,IMPACT_FACTOR,PLATFORM,RUN_THRESHOLD,CREATED_BY,CREATED_TIME)
        values(#{name}, #{impactFactor}, #{platform},#{runThreshold},#{createdBy},#{createdTime});
    </insert>

    <delete id="deleteBusiness" parameterType="java.lang.Integer">
        delete from businessSystem where id = #{id};
    </delete>

    <update id="updateBusiness" parameterType="BusinessEntity">
        update businessSystem
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="impactFactor != null">
                IMPACT_FACTOR = #{impactFactor},
            </if>
            <if test="runThreshold != null">
                RUN_THRESHOLD = #{runThreshold},
            </if>
            <if test="platform != null">
                PLATFORM = #{platform},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="businessInfoResponse" type="com.situation.analysis.model.BusinessInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PLATFORM" property="platform"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="IS_ORIGINAL_VALUE" property="isOriginalValue"/>
        <collection property="objectList" ofType="com.situation.analysis.model.ObjectInfo" column="id"
                    select="getObjectList"></collection>
    </resultMap>

    <select id="getObjectList" parameterType="int" resultMap="com.situation.analysis.mapper.CommonMapper.objectInfo">
        select * from monitoringObject where B_ID = #{id}
    </select>

    <select id="getBusinessInfoList" resultMap="businessInfoResponse" parameterType="string">
        select * from businessSystem
        <where>
            <if test="null != keyWord">
                name like CONCAT('%',#{keyWord},'%')
            </if>
        </where>
    </select>


</mapper>