<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.IndicatorMapper">
    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.IndicatorEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="INSTRUCTION" property="instruction"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="O_ID" property="objectId"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>

    <select id="getIndicatorList" resultMap="BaseResultMap">
        select * from indicator;
    </select>

    <update id="batchUpdateIndicator" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update indicator
            <set>
                IMPACT_FACTOR=${item.impactFactor},
                O_ID=${item.objectId}
            </set>
            where id = ${item.id}
        </foreach>
    </update>

    <update id="updateIndicate" parameterType="java.lang.Integer">
        update indicator set O_ID =null where O_ID = #{oId};
    </update>

<!--    <select id="selectMonitoringLevelsByPage" resultMap="BaseResultMap">-->
<!--        select * from monitoringLevel-->
<!--    </select>-->

</mapper>