<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.MonitoringObjectMapper">

    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.MonitoringObjectEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="L_ID" property="levelId"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>

    <resultMap id="monitoringObjectInfo" type="com.situation.analysis.model.MonitoringObjectInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="objectName"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="LEVEL_NAME" property="levelName"/>
        <result column="L_ID" property="levelId"/>
        <result column="INAME" property="indicatorName"/>
        <result column="IS_ORIGINAL_VALUE" property="isOriginalValue"/>
    </resultMap>

    <insert id="addMonitoringObject" parameterType="MonitoringObjectEntity" useGeneratedKeys="true" keyProperty="id">
        insert into monitoringObject(NAME,IMPACT_FACTOR,RUN_THRESHOLD,L_ID,CREATED_BY,CREATED_TIME)
            values(#{name},#{impactFactor},#{runThreshold},#{levelId},#{createdBy},#{createdTime});
    </insert>

    <delete id="deleteMonitoringObject" parameterType="java.lang.Integer">
        delete from monitoringObject where id = #{id};
    </delete>

    <update id="updateMonitoringObject" parameterType="MonitoringObjectEntity">
        update monitoringObject
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="runThreshold != null">
                RUN_THRESHOLD = #{runThreshold},
            </if>
            <if test="levelId != null">
                L_ID = #{levelId},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdateMonitoringObject" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update monitoringObject
            <set>
                <if test="item.impactFactor != null">
                    IMPACT_FACTOR=#{item.impactFactor},
                </if>
                <if test="item.levelId != 0 and item.levelId !=null">
                    L_ID=#{item.levelId}
                </if>
                <if test="item.businessId != 0 and item.businessId !=null">
                    B_ID=#{item.businessId}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>


    <select id="selectObjectList" resultMap="monitoringObjectInfo">
        select o.id,o.name,o.RUN_THRESHOLD,o.L_ID,monitoringLevel.name LEVEL_NAME, indicator.name INAME,o.IS_ORIGINAL_VALUE
        from monitoringObject o
        left join monitoringLevel on o.l_id = monitoringLevel.id
        left join indicator on o.id = indicator.O_ID
        <where>
            <if test="null != keyword">
                and o.name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>


    <select id="getObjectOptionList" resultMap="com.situation.analysis.mapper.CommonMapper.option">
        select id, name from monitoringObject
        <where>
            <if test="lId != null">
                and L_ID = #{lId}
            </if>
            or L_ID is null or L_ID = 0
        </where>
    </select>

    <update id="unbindObjectWithBusiness" parameterType="java.lang.Integer">
        update monitoringObject set B_ID =null where B_ID = #{bId};
    </update>

    <update id="unbindObjectWithLevel" parameterType="java.lang.Integer">
        update monitoringObject set L_ID =null where L_ID = #{lId};
    </update>

</mapper>