<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.MonitoringObjectMapper">

    <!--    private int id;-->
    <!--    private String name;-->
    <!--    private BigDecimal impactFactor;-->
    <!--    private int runThreshold;-->
    <!--    private int levelId;-->
    <!--    private String createdBy;-->
    <!--    private String createdTime;-->
    <!--    private String updatedBy;-->
    <!--    private String updatedTime;-->
    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.MonitoringObjectEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="L_ID" property="levelId"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>

    <resultMap id="monitoringObjectInfo" type="com.situation.analysis.model.MonitoringObjectInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="objectName"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="LEVEL_NAME" property="levelName"/>
        <result column="INAME" property="indicatorName"/>
    </resultMap>


    <insert id="addMonitoringObject" parameterType="MonitoringObjectEntity" useGeneratedKeys="true" keyProperty="id">
        insert into monitoringObject(NAME,IMPACT_FACTOR,RUN_THRESHOLD,L_ID,CREATED_BY,CREATED_TIME)
            values(#{name},#{impactFactor},#{runThreshold},#{levelId},#{createdBy},#{createdTime});
    </insert>

    <delete id="deleteMonitoringObject" parameterType="java.lang.Integer">
        delete from monitoringObject where id = #{id};
    </delete>

    <update id="updateMonitoringObject" parameterType="MonitoringObjectEntity">
        update monitoringObject
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="runThreshold != null">
                RUN_THRESHOLD = #{runThreshold},
            </if>
            <if test="levelId != null">
                L_ID = #{levelId},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime}
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="selectObjectList" resultMap="monitoringObjectInfo">
        select o.id,o.name,o.RUN_THRESHOLD,monitoringLevel.name LEVEL_NAME, indicator.name INAME
        from situationAnalysis.monitoringObject o
        left join monitoringLevel on o.l_id = monitoringLevel.id
        left join indicator on o.id = indicator.O_ID
        <where>
            <if test="null != keyword">
                and o.name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>


    <!--    <select id="selectMonitoringLevelsByPage" resultMap="BaseResultMap">-->
    <!--        select * from monitoringLevel-->
    <!--    </select>-->

</mapper>