<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situation.analysis.mapper.MonitoringLevelMapper">
    <resultMap id="BaseResultMap" type="com.situation.analysis.entity.MonitoringLevelEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>

    <resultMap id="levelInfoResponse" type="com.situation.analysis.model.LevelInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="name"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
        <result column="RUN_THRESHOLD" property="runThreshold"/>
        <collection property="objectList" ofType="com.situation.analysis.model.ObjectInfo" column="id"
                    select="getObjectList"></collection>
    </resultMap>

    <resultMap id="objectInfo" type="com.situation.analysis.model.ObjectInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="NAME" property="objectName"/>
        <result column="IMPACT_FACTOR" property="impactFactor"/>
    </resultMap>

    <select id="getObjectList" parameterType="int" resultMap="objectInfo">
        select * from monitoringObject where L_ID = #{id}
    </select>

    <select id="getLevelInfoList" resultMap="levelInfoResponse">
        select * from monitoringLevel;
    </select>

    <select id="selectAllMonitoringLevels" resultMap="BaseResultMap">
        select * from monitoringLevel;
    </select>


    <select id="selectMonitoringLevelsByPage" resultMap="BaseResultMap">
        select * from monitoringLevel
    </select>

    <update id="updateLevelInfo" parameterType="MonitoringLevelEntity">
        update monitoringLevel
        <set>
            <if test="impactFactor != null">
                IMPACT_FACTOR = #{impactFactor},
            </if>
            <if test="runThreshold != null">
                RUN_THRESHOLD = #{runThreshold},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getLevelOptionList" resultMap="com.situation.analysis.mapper.CommonMapper.option">
        select id, name from monitoringLevel;
    </select>

</mapper>